<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <!-- Metadatos del partial -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Cotizador web de MSCORP para productos en existencia">
    <meta name="keywords" content="Cotizador web,MSCORP">
    <meta name="author" content="MSCORP">
    <!-- End del metadatos-->
    <!-- Iconos segun resolucion -->
    <link rel="apple-touch-icon" sizes="60x60" href="~/Images/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Images/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Images/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/ico/favicon-32.ico">
    <link rel="shortcut icon" type="image/png" href="~/Images/ico/favicon-32.png">
    <!-- End iconos-->
    <title>Muestra</title>
    @Styles.Render("~/Content/style")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>

        @RenderBody()

    @Scripts.Render("~/bundles/js")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>
